# Gradle
.gradle/
/build/

# Android
**/build/
**/captures/
.externalNativeBuild/
.cxx/
local.properties

# Intellij
*.iml
.idea/

# Mac
.DS_Store

# Secrets
*.jks
*.keystore
/service-account.json
/android-app/app/google-services.json

# Node
node_modules/
